destination.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="destination">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="details"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="details">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="destination_id"/>
        <xs:element ref="destination_name"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="destination_id" type="xs:NCName"/>
  <xs:element name="destination_name" type="xs:NCName"/>
</xs:schema>