WebApplication1/Connected Services/ServiceReference1/WcfServiceLibrary1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RegisterUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisterUser" nillable="true" type="tns:RegisterUser" />
  <xs:complexType name="LoginUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginUser" nillable="true" type="tns:LoginUser" />
  <xs:complexType name="InsertFlight">
    <xs:sequence>
      <xs:element minOccurs="0" name="Airline" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Arrival_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Arrival_location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Departure_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Departure_location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Plane_no" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="Seats" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertFlight" nillable="true" type="tns:InsertFlight" />
  <xs:complexType name="gettestdata">
    <xs:sequence>
      <xs:element minOccurs="0" name="flight" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="gettestdata" nillable="true" type="tns:gettestdata" />
  <xs:complexType name="UpdateFlight">
    <xs:sequence>
      <xs:element minOccurs="0" name="Airline" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Arrival_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Arrival_location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Departure_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Departure_location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Flight_id" type="xs:int" />
      <xs:element minOccurs="0" name="Plane_no" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="Seats" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateFlight" nillable="true" type="tns:UpdateFlight" />
  <xs:complexType name="DeleteFlight">
    <xs:sequence>
      <xs:element minOccurs="0" name="Flight_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeleteFlight" nillable="true" type="tns:DeleteFlight" />
</xs:schema>